<h1>About Me</h1>

<p class="'notice">

    Hey there — I'm <strong>Chris Zingel</strong>. Thanks for taking the time to check out my work blog, where I write mostly on <strong>Data Engineering</strong>.

</p>
<p class="notice--info">
    I've been working in the data engineering space for many years. My career began as a
    <strong>Statistician</strong> at Statistics New Zealand (Stats NZ) straight out of university. Since then, I’ve
    held senior roles in <strong>startups</strong>, <strong>government organizations</strong>, and
    <strong>banks</strong>, across both <strong>Data Engineering</strong> and <strong>Software Engineering</strong>.

  <br/>
  More recently, I have doubled down with <strong>DBT</strong> and <strong>Snowflake</strong>, completing several industry certificates (dbt Certified Developer and SnowPro Core Certification).
  I also have had the opportunity to apply these skills on projects for OfficeMax, Mable (Sydney) and Health New Zealand (Te Whatu Ora).</p>
<p class="notice">
    I'd love to hear from you — feel free to reach out via email at <a href="mailto:chris@zingel.co.nz">me@zingtech.co.nz</a> 

</p>
