<h1>About Me</h1>

<p class="'notice">

    Hey there — I'm <strong>Chris Zingel</strong>. Thanks for taking the time to check out my blog, where I explore ideas in the world of <strong>Data Engineering</strong>.

</p>
<p class="notice--info">
    I've been working in the data engineering space for several years. My career began as a
    <strong>Statistician</strong> at the national statistics department straight out of university. Since then, I’ve
    held senior roles in <strong>startups</strong>, <strong>government organizations</strong>, and
    <strong>banks</strong>, across both <strong>Data Engineering</strong> and <strong>Software Engineering</strong>.

</p>
<p class="notice">
    I'd love to hear from you — feel free to reach out via email at <a
        href="mailto:chris@zingel.co.nz">chris@zingel.co.nz</a>.

</p>